extends layout

block content
  .secondary_page_content
    h1 Contest Gallery
    a(href='#')
      .photo
        .overlay-box
          .overlay-text
            | 621
    a(href='#')
      .photo
        #post_photos
          span#plus_sign +
          span.text_post Post
          br
          span.text_yourphotos your photos